## 1-1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [48]:
# 1) ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
from pathlib import Path

# === CSV ê²½ë¡œ ì„¤ì • ===
DATA_PATH = Path("titanic_train.csv") # í˜„ì¬ í´ë”ì— ìˆì„ ë•Œ
# DATA_PATH = Path(r"C:\Users\joara\Downloads\titanic_train.csv") # íŒŒì¼ íƒìƒ‰ê¸° ê²½ë¡œë¥¼ ì‚¬ìš©í•  ë•Œ (ìš°í´ë¦­ -> ê²½ë¡œë¡œ ë³µì‚¬ í•˜ì—¬ "" ì•ˆì— ë„£ê¸°)
 
# íŒŒì¼ ì¡´ì¬ í™•ì¸
if not DATA_PATH.exists():
    raise FileNotFoundError(f"íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤: {DATA_PATH.resolve()}")

# ì½ì–´ì˜¤ê¸°
df = pd.read_csv(DATA_PATH)

---

## 1-2. ë°ì´í„° ì‚´í´ë³´ê¸°

### ë°ì´í„° í˜•íƒœ ë° ìš”ì•½

In [49]:
# 2) ë°ì´í„° ì‚´í´ë³´ê¸° (ê¸°ë³¸ EDA)
import numpy as np
import matplotlib.pyplot as plt

print("- shape :", df.shape)                 # ë°ì´í„°í”„ë ˆì„ì˜ í–‰(row), ì—´(column) ìˆ˜ í™•ì¸
print("- columns :", df.columns.tolist())    # ì „ì²´ ì»¬ëŸ¼ ì´ë¦„ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥

- shape : (891, 12)
- columns : ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

#### ğŸ“‘ ì»¬ëŸ¼ ì„¤ëª…

1. **PassengerId**

   * ìŠ¹ê° ê³ ìœ  ë²ˆí˜¸ (ë‹¨ìˆœ ì¸ë±ìŠ¤ ì—­í• )
   * ë¶„ì„ì—ëŠ” í¬ê²Œ ì˜ë¯¸ê°€ ì—†ìŒ.

2. **Survived**

   * ìƒì¡´ ì—¬ë¶€ (íƒ€ê¹ƒ ê°’, 0 = ì‚¬ë§, 1 = ìƒì¡´)

3. **Pclass**

   * ê°ì‹¤ ë“±ê¸‰ (1 = 1ë“±ì„, 2 = 2ë“±ì„, 3 = 3ë“±ì„)
   * ì‚¬íšŒì  ì§€ìœ„ë‚˜ ìš”ê¸ˆ ìˆ˜ì¤€ì„ ë°˜ì˜í•¨.

4. **Name**

   * ìŠ¹ê° ì´ë¦„ (í˜¸ì¹­, ê°€ì¡± ê´€ê³„, ì‹ ë¶„ ë“± íŒŒìƒ ë³€ìˆ˜ë¥¼ ë§Œë“¤ ë•Œ í™œìš© ê°€ëŠ¥)

5. **Sex**

   * ì„±ë³„ (`male`, `female`)

6. **Age**

   * ë‚˜ì´ (ê²°ì¸¡ì¹˜ ì¡´ì¬, í‰ê· Â·ì¤‘ì•™ê°’ ë“±ìœ¼ë¡œ ì±„ìš°ê±°ë‚˜ ê·¸ë£¹ë³„ ì²˜ë¦¬ í•„ìš”)

7. **SibSp**

   * **Siblings/Spouses Aboard**
   * í•¨ê»˜ íƒ‘ìŠ¹í•œ í˜•ì œìë§¤, ë°°ìš°ìì˜ ìˆ˜

8. **Parch**

   * **Parents/Children Aboard**
   * í•¨ê»˜ íƒ‘ìŠ¹í•œ ë¶€ëª¨ë‹˜, ìë…€ì˜ ìˆ˜

9. **Ticket**

   * í‹°ì¼“ ë²ˆí˜¸ (ê·¸ ìì²´ëŠ” í° ì˜ë¯¸ ì—†ìœ¼ë‚˜, ê°™ì€ í‹°ì¼“ ë²ˆí˜¸ â†’ ê·¸ë£¹ ë‹¨ìœ„ íƒ‘ìŠ¹ ì—¬ë¶€ë¥¼ ì•Œ ìˆ˜ ìˆìŒ)

10. **Fare**

    * ìš”ê¸ˆ (íƒ‘ìŠ¹ê¶Œ ê°€ê²©, Pclassì™€ ê´€ë ¨ ìˆìŒ)

11. **Cabin**

    * ê°ì‹¤ ë²ˆí˜¸ (ê²°ì¸¡ì¹˜ ë§ìŒ. ì•ŒíŒŒë²³ìœ¼ë¡œ êµ¬ì—­ ì •ë³´ë¥¼ ë½‘ì•„ë‚¼ ìˆ˜ ìˆìŒ)

12. **Embarked**

    * íƒ‘ìŠ¹ í•­êµ¬ (`C = Cherbourg`, `Q = Queenstown`, `S = Southampton`)

In [50]:
df.head() # ì•ìª½ 5í–‰ì˜ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
df.info()   
# DataFrame ì „ì²´ êµ¬ì¡° ìš”ì•½ ì¶œë ¥
# - Index ë²”ìœ„ (í–‰ ê°œìˆ˜) : ëª‡ ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€
# - ê° ì»¬ëŸ¼ ì´ë¦„ê³¼ ìˆœì„œ
# - Non-Null Count : ê²°ì¸¡ì¹˜ê°€ ì•„ë‹Œ ê°’ì˜ ê°œìˆ˜ (â†’ ê²°ì¸¡ì¹˜ íŒŒì•…ì— ìœ ìš©)
# - Dtype : ê° ì»¬ëŸ¼ì˜ ë°ì´í„° íƒ€ì… (int, float, object ë“±)
# - ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ : ë°ì´í„°í”„ë ˆì„ì´ ì°¨ì§€í•˜ëŠ” ë©”ëª¨ë¦¬ í¬ê¸°

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### ê²°ì¸¡ì¹˜ ê´€ì°°

In [52]:
print("[ê²°ì¸¡ì¹˜ ìš”ì•½]")

# ê° ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ êµ¬í•˜ê³  ì •ë¦¬
missing = (
    df.isna()                               # ê° ì…€ë§ˆë‹¤ ê²°ì¸¡ì¹˜ë©´ True, ì•„ë‹ˆë©´ False ë°˜í™˜
      .sum()                                # ì»¬ëŸ¼ë³„ë¡œ True ê°œìˆ˜ í•©ì‚° â†’ ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜
      .rename("missing_num")                # ê²°ê³¼ Series ì´ë¦„ì„ "missing_num"ìœ¼ë¡œ ë°”ê¿”ì¤Œ
      .to_frame()                           # Series â†’ DataFrameìœ¼ë¡œ ë³€í™˜ (ì»¬ëŸ¼ëª… : missing_num)
)

# ê²°ì¸¡ì¹˜ ë¹„ìœ¨(%) ì»¬ëŸ¼ ì¶”ê°€
missing["missing_pct"] = (missing["missing_num"] / len(df) * 100).round(2)
# - len(df) : ì „ì²´ í–‰ ê°œìˆ˜
# - ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ ì „ì²´ ê°œìˆ˜ë¡œ ë‚˜ëˆ” â†’ ë¹„ìœ¨
# - *100 : í¼ì„¼íŠ¸ë¡œ ë³€í™˜
# - round(2): ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼

# ê²°ì¸¡ì¹˜ ê°œìˆ˜ê°€ ë§ì€ ìˆœìœ¼ë¡œ ì •ë ¬í•´ì„œ ì¶œë ¥
print(missing.sort_values("missing_num", ascending=False))

[ê²°ì¸¡ì¹˜ ìš”ì•½]
             missing_num  missing_pct
Cabin                687        77.10
Age                  177        19.87
Embarked               2         0.22
PassengerId            0         0.00
Name                   0         0.00
Pclass                 0         0.00
Survived               0         0.00
Sex                    0         0.00
Parch                  0         0.00
SibSp                  0         0.00
Fare                   0         0.00
Ticket                 0         0.00

### ì¤‘ë³µê°’ ê´€ì°°

In [53]:
print("[ì¤‘ë³µ í™•ì¸]")

# ì „ì²´ ë°ì´í„°ì—ì„œ ì™„ì „íˆ ê°™ì€ í–‰(ì¤‘ë³µ í–‰)ì˜ ê°œìˆ˜ í™•ì¸
print("- ì „ì²´ ì¤‘ë³µ í–‰ ìˆ˜ :", df.duplicated().sum())

# íŠ¹ì • ì»¬ëŸ¼(PassengerId)ì— ëŒ€í•´, ê·¸ ì•ˆì—ì„œ ì¤‘ë³µëœ ê°’ì´ ëª‡ ê°œì¸ì§€ í™•ì¸
if "PassengerId" in df.columns:
    print("- PassengerId ì¤‘ë³µ ìˆ˜ :", df["PassengerId"].duplicated().sum())
if "Age" in df.columns:
    print("- Age ì¤‘ë³µ ìˆ˜ :", df["Age"].duplicated().sum())

print("\n[ê³ ìœ ê°’ ê°œìˆ˜]")

# ê° ì»¬ëŸ¼ë³„ ê³ ìœ ê°’ ê°œìˆ˜ë¥¼ ì„¸ê³ , ë§ì€ ìˆœì„œëŒ€ë¡œ ì •ë ¬
print(df.nunique().sort_values(ascending=False))
# - nunique() : ê³ ìœ ê°’(unique) ê°œìˆ˜ ì„¸ê¸°
# - sort_values() : ê°’ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
#   (ascending=False â†’ í° ê°’ë¶€í„° ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬)

[ì¤‘ë³µ í™•ì¸]
- ì „ì²´ ì¤‘ë³µ í–‰ ìˆ˜ : 0
- PassengerId ì¤‘ë³µ ìˆ˜ : 0
- Age ì¤‘ë³µ ìˆ˜ : 802

[ê³ ìœ ê°’ ê°œìˆ˜]
PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Embarked         3
Pclass           3
Survived         2
Sex              2
dtype: int64

### ê¸°ì´ˆ í†µê³„ (ìˆ«ìí˜• / ë²”ì£¼í˜•)

In [54]:
# ìˆ«ì/ë²”ì£¼í˜• ì»¬ëŸ¼ ìë™ ë¶„ë¦¬
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
cat_cols = df.select_dtypes(exclude=[np.number]).columns.tolist()

print("\n- ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ :", num_cols)
print("- ë²”ì£¼í˜• ì»¬ëŸ¼ :", cat_cols)

- ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ : ['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
- ë²”ì£¼í˜• ì»¬ëŸ¼ : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [55]:
print("[ìˆ˜ì¹˜í˜• ìš”ì•½ í†µê³„]")
df[num_cols].describe()

# df.describe()ë§Œ í•´ë„ ìë™ìœ¼ë¡œ ìˆ˜ì¹˜í˜•ì— ëŒ€í•œ ìš”ì•½ í†µê³„ë§Œ ì œê³µ

# DataFrameì˜ ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ ìš”ì•½ í†µê³„ ì œê³µ 
# - count : ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ê°’ì˜ ê°œìˆ˜
# - mean : í‰ê· 
# - std : í‘œì¤€í¸ì°¨ (ë°ì´í„° í©ì–´ì§„ ì •ë„)
# - min : ìµœì†Œê°’
# - 25% : 1ì‚¬ë¶„ìœ„ìˆ˜ (í•˜ìœ„ 25% ì§€ì )
# - 50% : ì¤‘ì•™ê°’(ì¤‘ìœ„ìˆ˜)
# - 75% : 3ì‚¬ë¶„ìœ„ìˆ˜ (ìƒìœ„ 25% ì§€ì )
# - max : ìµœëŒ€ê°’

[ìˆ˜ì¹˜í˜• ìš”ì•½ í†µê³„]

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [56]:
print("[ë²”ì£¼í˜• ìš”ì•½ í†µê³„]")
df[cat_cols].describe()

# df.describe(include=["object"])ë„ ê°™ì€ ê²°ê³¼ë¥¼ ì œê³µ

# DataFrameì˜ ë²”ì£¼í˜• ì»¬ëŸ¼ ìš”ì•½ í†µê³„ ì œê³µ 
# - count : ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ê°’ì˜ ê°œìˆ˜
# - unique : ì„œë¡œ ë‹¤ë¥¸ ê°’(ê³ ìœ ê°’)ì˜ ê°œìˆ˜
# - top : ê°€ì¥ ë§ì´ ë“±ì¥í•œ ê°’ (ìµœë¹ˆê°’)
# - freq : ìµœë¹ˆê°’ì´ ë“±ì¥í•œ íšŸìˆ˜
#
# â†’ ìˆ«ìê°€ ì•„ë‹Œ ë¬¸ìì—´ ë°ì´í„°ì˜ ë¶„í¬ë¥¼ ë¹ ë¥´ê²Œ íŒŒì•…í•  ë•Œ ìœ ìš©

[ë²”ì£¼í˜• ìš”ì•½ í†µê³„]

                           Name   Sex  Ticket Cabin Embarked
count                       891   891     891   204      889
unique                      891     2     681   147        3
top     Braund, Mr. Owen Harris  male  347082    G6        S
freq                          1   577       7     4      644

### íƒ€ê¹ƒ ë¶„í¬ ì‚´í”¼ê¸°

In [57]:
print("[íƒ€ê¹ƒ ë¶„í¬]")

# íƒ€ê¹ƒ ì»¬ëŸ¼ì´ ë°ì´í„°ì— ì¡´ì¬í•  ë•Œë§Œ ì‹¤í–‰
if "Survived" in df.columns:
    # ê° í´ë˜ìŠ¤(0: ì‚¬ë§, 1: ìƒì¡´)ì˜ ê°œìˆ˜ ì„¸ê¸°
    # dropna=False â†’ ê²°ì¸¡ì¹˜(NaN)ê°€ ìˆìœ¼ë©´ ê·¸ê²ƒë„ ê°œìˆ˜ì— í¬í•¨
    print(df["Survived"].value_counts(dropna=False))

    print("\n- ë¹„ìœ¨:")
    # ê° í´ë˜ìŠ¤ì˜ ìƒëŒ€ì  ë¹„ìœ¨ ê³„ì‚°
    # normalize=True â†’ ì „ì²´ ëŒ€ë¹„ ë¹„ìœ¨ ë°˜í™˜ (í•©ê³„ = 1)
    # round(3) â†’ ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼
    print(df["Survived"].value_counts(normalize=True).round(3))

[íƒ€ê¹ƒ ë¶„í¬]
Survived
0    549
1    342
Name: count, dtype: int64

- ë¹„ìœ¨:
Survived
0    0.616
1    0.384
Name: proportion, dtype: float64

### ë²”ì£¼í˜• ë¶„í¬ ì‚´í”¼ê¸°

In [58]:
print("[ì£¼ìš” ë²”ì£¼í˜• ë¶„í¬: ìƒìœ„ 5ê°œ ì¹´í…Œê³ ë¦¬]")

# ë¶„ì„ì—ì„œ ì¤‘ìš”í•œ ë²”ì£¼í˜• ë³€ìˆ˜ ëª‡ ê°œë¥¼ ê³¨ë¼ ë¶„í¬ í™•ì¸
for c in ["Pclass", "Sex", "Embarked"]:     
    if c in df.columns:                     # í•´ë‹¹ ì»¬ëŸ¼ì´ ì‹¤ì œë¡œ ì¡´ì¬í•  ë•Œë§Œ ì‹¤í–‰
        print(f"\n- {c} ë¶„í¬:")
        
        # ê° ì¹´í…Œê³ ë¦¬ë³„ ê°œìˆ˜ë¥¼ ì„¸ì–´ ì¶œë ¥
        # dropna=False â†’ ê²°ì¸¡ì¹˜(NaN)ë„ í¬í•¨
        # head(10) â†’ ìƒìœ„ 10ê°œ ì¹´í…Œê³ ë¦¬ê¹Œì§€ë§Œ ì¶œë ¥ (ë²”ì£¼ê°€ ë§ì„ ê²½ìš° ì¼ë¶€ë§Œ ë³´ê¸°)
        print(df[c].value_counts(dropna=False).head(10))

[ì£¼ìš” ë²”ì£¼í˜• ë¶„í¬: ìƒìœ„ 5ê°œ ì¹´í…Œê³ ë¦¬]

- Pclass ë¶„í¬:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

- Sex ë¶„í¬:
Sex
male      577
female    314
Name: count, dtype: int64

- Embarked ë¶„í¬:
Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

### êµì°¨í‘œë¥¼ í™œìš©í•œ ìƒì¡´ìœ¨ ë¶„ì„

In [59]:
print("\n[êµì°¨í‘œ: ì„±ë³„ë³„ ìƒì¡´ìœ¨]")

# "Sex"ì™€ "Survived" ì»¬ëŸ¼ì´ ëª¨ë‘ ìˆìœ¼ë©´ ì‹¤í–‰
if set(["Sex","Survived"]).issubset(df.columns):
    # pd.crosstab: êµì°¨í‘œ(ë¹ˆë„í‘œ) ìƒì„±
    # index="Sex", columns="Survived" â†’ í–‰: ì„±ë³„, ì—´: ìƒì¡´ ì—¬ë¶€
    # normalize="index" â†’ ê° í–‰ì„ ê¸°ì¤€ìœ¼ë¡œ ë¹„ìœ¨ ê³„ì‚° (ì¦‰, ì„±ë³„ë³„ ìƒì¡´ìœ¨)
    # round(3) â†’ ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼
    print(pd.crosstab(df["Sex"], df["Survived"], normalize="index").round(3))


print("\n[êµì°¨í‘œ: ì„ ì‹¤ë“±ê¸‰ë³„ ìƒì¡´ìœ¨]")
# "Pclass"ì™€ "Survived" ì»¬ëŸ¼ì´ ëª¨ë‘ ìˆìœ¼ë©´ ì‹¤í–‰
if set(["Pclass","Survived"]).issubset(df.columns):
    # í–‰: Pclass(ì„ ì‹¤ ë“±ê¸‰), ì—´: Survived(ìƒì¡´ ì—¬ë¶€)
    # normalize="index" â†’ ë“±ê¸‰ë³„ ìƒì¡´ìœ¨ ê³„ì‚°
    print(pd.crosstab(df["Pclass"], df["Survived"], normalize="index").round(3))

[êµì°¨í‘œ: ì„±ë³„ë³„ ìƒì¡´ìœ¨]
Survived      0      1
Sex
female    0.258  0.742
male      0.811  0.189

[êµì°¨í‘œ: ì„ ì‹¤ë“±ê¸‰ë³„ ìƒì¡´ìœ¨]
Survived      0      1
Pclass
1         0.370  0.630
2         0.527  0.473
3         0.758  0.242

### ê·¸ë£¹ ì§‘ê³„ë¥¼ í™œìš©í•œ í‰ê·  ìƒì¡´ìœ¨ ë¶„ì„

In [ ]:
# "Pclass"ì™€ "Survived" ì»¬ëŸ¼ì´ ëª¨ë‘ ì¡´ì¬í•  ë•Œ ì‹¤í–‰
if set(["Pclass","Survived"]).issubset(df.columns):
    print("\n- Pclassë³„ í‰ê·  ìƒì¡´ìœ¨")
    # groupby("Pclass"): ì„ ì‹¤ ë“±ê¸‰ë³„ë¡œ ê·¸ë£¹í™”
    # ["Survived"].mean(): ê° ê·¸ë£¹ì—ì„œ ìƒì¡´ë¥ (í‰ê· ê°’) ê³„ì‚°
    # round(3): ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼
    print(df.groupby("Pclass")["Survived"].mean().round(3))

# "Sex"ì™€ "Survived" ì»¬ëŸ¼ì´ ëª¨ë‘ ì¡´ì¬í•  ë•Œ ì‹¤í–‰
if set(["Sex","Survived"]).issubset(df.columns):
    print("\n- Sexë³„ í‰ê·  ìƒì¡´ìœ¨")
    # ì„±ë³„ë³„ í‰ê·  ìƒì¡´ìœ¨ ê³„ì‚°
    print(df.groupby("Sex")["Survived"].mean().round(3))

# "Embarked"ì™€ "Survived" ì»¬ëŸ¼ì´ ëª¨ë‘ ì¡´ì¬í•  ë•Œ ì‹¤í–‰
if set(["Embarked","Survived"]).issubset(df.columns):
    print("\n- Embarkedë³„ í‰ê·  ìƒì¡´ìœ¨")
    # íƒ‘ìŠ¹ í•­êµ¬ë³„ í‰ê·  ìƒì¡´ìœ¨ ê³„ì‚°
    print(df.groupby("Embarked")["Survived"].mean().round(3))

- Pclassë³„ í‰ê·  ìƒì¡´ìœ¨
Pclass
1    0.630
2    0.473
3    0.242
Name: Survived, dtype: float64

- Sexë³„ í‰ê·  ìƒì¡´ìœ¨
Sex
female    0.742
male      0.189
Name: Survived, dtype: float64

- Embarkedë³„ í‰ê·  ìƒì¡´ìœ¨
Embarked
C    0.554
Q    0.390
S    0.337
Name: Survived, dtype: float64

In [62]:
# ìƒê´€ê´€ê³„(ìˆ˜ì¹˜í˜•ë§Œ)
print("\n[ìˆ˜ì¹˜í˜• ìƒê´€ê´€ê³„]")

# ë¶„ì„ì— ì‚¬ìš©í•  ì£¼ìš” ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ë§Œ ê³¨ë¼ì„œ ë¦¬ìŠ¤íŠ¸ ìƒì„±
# ì‹¤ì œ ë°ì´í„°í”„ë ˆì„ì— ì¡´ì¬í•˜ëŠ” ì»¬ëŸ¼ë§Œ ì„ íƒ
corr_cols = [c for c in ["Survived","Pclass","Age","SibSp","Parch","Fare"] if c in df.columns]

# ì„ íƒí•œ ì»¬ëŸ¼ë“¤ ê°„ì˜ ìƒê´€ê³„ìˆ˜(correlation) ê³„ì‚°
# - corr(): í”¼ì–´ìŠ¨ ìƒê´€ê³„ìˆ˜(ê¸°ë³¸ê°’) ê³„ì‚°
# - numeric_only=True: ìˆ«ìí˜• ë°ì´í„°ë§Œ ëŒ€ìƒìœ¼ë¡œ ê³„ì‚°
corr = df[corr_cols].corr(numeric_only=True)

# ìƒê´€ê³„ìˆ˜ ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼í•´ì„œ ë³´ê¸° ì¢‹ê²Œ ì¶œë ¥
corr.round(3)

[ìˆ˜ì¹˜í˜• ìƒê´€ê´€ê³„]

          Survived  Pclass    Age  SibSp  Parch   Fare
Survived     1.000  -0.338 -0.077 -0.035  0.082  0.257
Pclass      -0.338   1.000 -0.369  0.083  0.018 -0.549
Age         -0.077  -0.369  1.000 -0.308 -0.189  0.096
SibSp       -0.035   0.083 -0.308  1.000  0.415  0.160
Parch        0.082   0.018 -0.189  0.415  1.000  0.216
Fare         0.257  -0.549  0.096  0.160  0.216  1.000

---

## 1-3. ë°ì´í„° ë¶„í• í•˜ê¸°

ëª©í‘œ : ë°ì´í„°ë¥¼ "ê³µë¶€ìš©(í›ˆë ¨ì…‹)"ê³¼ "ì‹œí—˜ìš©(í…ŒìŠ¤íŠ¸ì…‹)"ìœ¼ë¡œ ë‚˜ëˆ  ëª¨ë¸ì´ ì§„ì§œë¡œ ì˜í•˜ëŠ”ì§€ ê³µì •í•˜ê²Œ í™•ì¸í•©ë‹ˆë‹¤.

In [65]:
from sklearn.model_selection import train_test_split
import pandas as pd

# [1] ì •ë‹µ(íƒ€ê¹ƒ)ê³¼ ì…ë ¥(í”¼ì²˜) ì •í•˜ê¸°
# - TARGET: ìš°ë¦¬ê°€ ë§íˆê³  ì‹¶ì€ ê°’(íƒ€ê¹ƒ) â†’ ìƒì¡´ ì—¬ë¶€
# - FEATURES: íƒ€ê¹ƒì„ ì˜ˆì¸¡í•  ë•Œ ì°¸ê³ í•  íŒíŠ¸(í”¼ì²˜) ëª©ë¡
TARGET = "Survived"
FEATURES = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# [2] dfì—ì„œ íƒ€ê¹ƒ(y)ê³¼ í”¼ì²˜(X) ë½‘ê¸°
# - copy()ëŠ” ì›ë³¸ dfë¥¼ ì‹¤ìˆ˜ë¡œ ê±´ë“œë¦¬ì§€ ì•Šê¸° ìœ„í•œ ì•ˆì „ì¥ì¹˜
y = df[TARGET].copy()
X = df[FEATURES].copy()

# [2-1] (ì•ˆì „) íƒ€ê¹ƒì— ê²°ì¸¡ê°’ì´ ìˆìœ¼ë©´ ê·¸ í–‰ì€ í•™ìŠµ ë¶ˆê°€ â†’ ë¹¼ê¸°
#       * íƒ€ê¹ƒì´ ë¹„ì–´ ìˆìœ¼ë©´ "ì •ë‹µ ì—†ëŠ” ë¬¸ì œ"ë¼ì„œ í•™ìŠµí•  ìˆ˜ ì—†ìŒ
if y.isna().any():
    keep = y.notna()
    X = X[keep].copy()
    y = y[keep].copy()

# [3] ì‹¤ì œ ë¶„í• í•˜ê¸°
# - test_size=0.2  : ì „ì²´ì˜ 20%ë¥¼ ì‹œí—˜ìš©(í…ŒìŠ¤íŠ¸)ìœ¼ë¡œ ì‚¬ìš©
# - random_state=42: ì„ëŠ” ì‹œë“œ(ê³ ì •ê°’). í•­ìƒ ê°™ì€ ê²°ê³¼ê°€ ë‚˜ì˜¤ë„ë¡ ì¬í˜„ì„±ì„ ë³´ì¥
# - stratify=y     : ìƒì¡´/ì‚¬ë§ ë¹„ìœ¨ì„ train/testì—ì„œ ë¹„ìŠ·í•˜ê²Œ ìœ ì§€(ë¶ˆê· í˜• ë°ì´í„°ì— ì¤‘ìš”)
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y,
    shuffle=True  # ê¸°ë³¸ê°’ True. (ì‹œê³„ì—´ ë°ì´í„°ë¼ë©´ Falseë¡œ ë‘ê³  ì‹œê°„ ìˆœì„œ ìœ ì§€ í•„ìš”)
)

# [4] ë¶„í•  ê²°ê³¼ ê°„ë‹¨ ì²´í¬
print("[ë¶„í•  ê²°ê³¼]")
print(f"- ì „ì²´ í–‰ ìˆ˜: {len(X)}")
print(f"- í›ˆë ¨ì…‹ í–‰ ìˆ˜: {len(X_train)}")
print(f"- í…ŒìŠ¤íŠ¸ì…‹ í–‰ ìˆ˜: {len(X_test)}")

# [5] íƒ€ê¹ƒ(ìƒì¡´/ì‚¬ë§) ë¹„ìœ¨ì´ ë¹„ìŠ·í•œì§€ í™•ì¸ â†’ stratifyê°€ ì˜ ëëŠ”ì§€ ì²´í¬
def ratio(s: pd.Series):
    # value_counts(normalize=True): ë¹„ìœ¨ë¡œ ë³´ê¸°, round(3): ì†Œìˆ«ì  3ìë¦¬
    return s.value_counts(normalize=True).sort_index().round(3).to_dict()

print("\n[íƒ€ê¹ƒ ë¹„ìœ¨(ìƒì¡´=1, ì‚¬ë§=0)]")
print("overall:", ratio(y))
print("train  :", ratio(y_train))
print("test   :", ratio(y_test))

[ë¶„í•  ê²°ê³¼]
- ì „ì²´ í–‰ ìˆ˜: 891
- í›ˆë ¨ì…‹ í–‰ ìˆ˜: 712
- í…ŒìŠ¤íŠ¸ì…‹ í–‰ ìˆ˜: 179

[íƒ€ê¹ƒ ë¹„ìœ¨(ìƒì¡´=1, ì‚¬ë§=0)]
overall: {0: 0.616, 1: 0.384}
train  : {0: 0.617, 1: 0.383}
test   : {0: 0.615, 1: 0.385}

---

## 1-4 ë°ì´í„° ì „ì²˜ë¦¬

In [71]:
# === ì¤‘ë³µ ì²˜ë¦¬: ML ìµœì†Œ ë²„ì „ ===

# 1) ëª¨ë“  ì»¬ëŸ¼ì´ ì™„ì „íˆ ê°™ì€ í–‰ ì œê±°
before = len(df)
df = df.drop_duplicates()
print(f"[drop_duplicates(all-cols)] {before} -> {len(df)}")

# 2) (ìˆìœ¼ë©´) ê³ ìœ í‚¤ ì¤‘ë³µ ì œê±°: PassengerId ê¸°ì¤€ìœ¼ë¡œ í•œ ê±´ë§Œ ë‚¨ê¹€
if "PassengerId" in df.columns:
    before = len(df)
    df = df.drop_duplicates(subset=["PassengerId"], keep="first")
    print(f"[drop_duplicates(PassengerId)] {before} -> {len(df)}")

[drop_duplicates(all-cols)] 891 -> 891
[drop_duplicates(PassengerId)] 891 -> 891