---

## í•„ìˆ˜ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜ ë° í•œê¸€ í°íŠ¸ ì„¤ì •

In [198]:
import pandas as pd
import matplotlib.pyplot as plt
import platform
from IPython.display import display

In [199]:
if platform.system() == 'Windows':    # Windows
    plt.rc('font', family='Malgun Gothic')
elif platform.system() == 'Darwin':   # macOS
    plt.rc('font', family='AppleGothic')
else:                                 # Linux
    plt.rc('font', family='NanumGothic')

plt.rcParams['axes.unicode_minus'] = False  # ìŒìˆ˜ ë¶€í˜¸ ê¹¨ì§ ë°©ì§€

---

## 1-1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [200]:
# CSV íŒŒì¼ URL
url = "https://raw.githubusercontent.com/JyoARa/Machine-Learning/refs/heads/main/Project/Titanic/train.csv"

# ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv(url)

# ì²˜ìŒ 5í–‰ í™•ì¸
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [201]:
# ì›ë³¸ ë³µì‚¬
df_kor = df.copy()

In [202]:
# ì»¬ëŸ¼ëª… í•œê¸€í™”

# ì»¬ëŸ¼ëª… ë§¤í•‘ (ì˜ì–´ â†’ í•œê¸€)
columns_map = {
    "PassengerId": "ìŠ¹ê°ID",
    "Survived": "ìƒì¡´ì—¬ë¶€",
    "Pclass": "ê°ì‹¤ë“±ê¸‰",
    "Name": "ì´ë¦„",
    "Sex": "ì„±ë³„",
    "Age": "ë‚˜ì´",
    "SibSp": "í˜•ì œ/ë°°ìš°ììˆ˜",
    "Parch": "ë¶€ëª¨/ìë…€ìˆ˜",
    "Ticket": "í‹°ì¼“ë²ˆí˜¸",
    "Fare": "ìš”ê¸ˆ",
    "Cabin": "ê°ì‹¤ë²ˆí˜¸",
    "Embarked": "ìŠ¹ì„ í•­êµ¬"
}

# renameìœ¼ë¡œ ë³€ê²½
df_kor.rename(columns=columns_map, inplace=True)

# í™•ì¸
df_kor.head()

,ìŠ¹ê°ID,ìƒì¡´ì—¬ë¶€,ê°ì‹¤ë“±ê¸‰,ì´ë¦„,ì„±ë³„,ë‚˜ì´,í˜•ì œ/ë°°ìš°ììˆ˜,ë¶€ëª¨/ìë…€ìˆ˜,í‹°ì¼“ë²ˆí˜¸,ìš”ê¸ˆ,ê°ì‹¤ë²ˆí˜¸,ìŠ¹ì„ í•­êµ¬
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

---

## 1-2. ë°ì´í„° ë¶„ì„

[ğŸ·ï¸ Titanic Dataë¥¼ í™œìš©í•œ ë°ì´í„°ë¶„ì„ Project](https://jyoara.tistory.com/16) ë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”

---

## 1-3. ë°ì´í„° ì „ì²˜ë¦¬

In [203]:
df_Target = df_kor["ìƒì¡´ì—¬ë¶€"]
df_Features = df_kor.drop(columns=["ìƒì¡´ì—¬ë¶€"])

display(df_Target.to_frame().head())
display(df_Features.head())

   ìƒì¡´ì—¬ë¶€
0     0
1     1
2     1
3     1
4     0

,ìŠ¹ê°ID,ê°ì‹¤ë“±ê¸‰,ì´ë¦„,ì„±ë³„,ë‚˜ì´,í˜•ì œ/ë°°ìš°ììˆ˜,ë¶€ëª¨/ìë…€ìˆ˜,í‹°ì¼“ë²ˆí˜¸,ìš”ê¸ˆ,ê°ì‹¤ë²ˆí˜¸,ìŠ¹ì„ í•­êµ¬
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [204]:
df_Features_Prep = df_Features.copy()

In [ ]:
# ================================
# 1. ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ì œê±°
# ================================

# ì œê±° ì „ í¬ê¸° í™•ì¸
print(f"[ë¶ˆí•„ìš” ì»¬ëŸ¼ ì œê±° ì „] shape : {df_Features.shape}")
display(df_Features.head())

# ì»¬ëŸ¼ ì œê±°
df_Features_Prep = df_Features_Prep.drop(columns=["ìŠ¹ê°ID", "ì´ë¦„"])

# ì œê±° í›„ í¬ê¸° í™•ì¸
print(f"[ë¶ˆí•„ìš” ì»¬ëŸ¼ ì œê±° í›„] shape : {df_Features_Prep.shape}")
display(df_Features_Prep.head())

[ë¶ˆí•„ìš” ì»¬ëŸ¼ ì œê±° ì „] shape : (891, 11)

,ìŠ¹ê°ID,ê°ì‹¤ë“±ê¸‰,ì´ë¦„,ì„±ë³„,ë‚˜ì´,í˜•ì œ/ë°°ìš°ììˆ˜,ë¶€ëª¨/ìë…€ìˆ˜,í‹°ì¼“ë²ˆí˜¸,ìš”ê¸ˆ,ê°ì‹¤ë²ˆí˜¸,ìŠ¹ì„ í•­êµ¬
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

[ë¶ˆí•„ìš” ì»¬ëŸ¼ ì œê±° í›„] shape : (891, 9)

   ê°ì‹¤ë“±ê¸‰      ì„±ë³„    ë‚˜ì´  í˜•ì œ/ë°°ìš°ììˆ˜  ë¶€ëª¨/ìë…€ìˆ˜              í‹°ì¼“ë²ˆí˜¸       ìš”ê¸ˆ  ê°ì‹¤ë²ˆí˜¸ ìŠ¹ì„ í•­êµ¬
0     3    male  22.0        1       0         A/5 21171   7.2500   NaN    S
1     1  female  38.0        1       0          PC 17599  71.2833   C85    C
2     3  female  26.0        0       0  STON/O2. 3101282   7.9250   NaN    S
3     1  female  35.0        1       0            113803  53.1000  C123    S
4     3    male  35.0        0       0            373450   8.0500   NaN    S

In [208]:
# ================================
# 2-1. ê²°ì¸¡ì¹˜ í™•ì¸
# ================================

# ê° ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ ê³„ì‚°
missing_count = df_Features_Prep.isnull().sum()

# ì „ì²´ ëŒ€ë¹„ ê²°ì¸¡ì¹˜ ë¹„ìœ¨ ê³„ì‚°
missing_ratio = (missing_count / len(df_Features_Prep)) * 100

# ê²°ì¸¡ì¹˜ í˜„í™©ì„ DataFrameìœ¼ë¡œ ì •ë¦¬
missing_df = pd.DataFrame({
    "ê²°ì¸¡ì¹˜ ê°œìˆ˜": missing_count,
    "ê²°ì¸¡ì¹˜ ë¹„ìœ¨(%)": missing_ratio.round(2)
})

# í‘œë¡œ ì¶œë ¥
display(missing_df)

         ê²°ì¸¡ì¹˜ ê°œìˆ˜  ê²°ì¸¡ì¹˜ ë¹„ìœ¨(%)
ê°ì‹¤ë“±ê¸‰          0       0.00
ì„±ë³„            0       0.00
ë‚˜ì´          177      19.87
í˜•ì œ/ë°°ìš°ììˆ˜       0       0.00
ë¶€ëª¨/ìë…€ìˆ˜        0       0.00
í‹°ì¼“ë²ˆí˜¸          0       0.00
ìš”ê¸ˆ            0       0.00
ê°ì‹¤ë²ˆí˜¸        687      77.10
ìŠ¹ì„ í•­êµ¬          2       0.22